.home-packages {
    .home-packages-items {
        display: flex;
        justify-content: space-evenly;


    }

    background-color: #baccd9;

    padding-block: 60px;

    a {

        width: 25%;
        text-decoration: none;
        color: black;
    }

}