.about {
    display: flex;


    picture {
        width: 50%;
        height: 400px;
        padding: 40px;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 70px;
        text-align: center;
        gap: 50px;

        .about-text {
            font-size: 20px;
        }

        .about-buttons {
            display: flex;
            gap: 30px;
            justify-content: center;

            button {
                font-size: 18px;
                padding: 20px 40px;
                border-radius: 40px;
                background: linear-gradient(#deb2b2, #868ee2);
                border: 1px solid white;
                width: 150px;

            }

            button:hover {
                cursor: pointer;
                transition: all 0.3s;
                color: white;
                border: 1px solid #868ee2;
            }
        }
    }
}